<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://unpkg.com/vue@2.1.4/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my_boks">
    <div id="bottles" class="inl">
        <h1>Банки</h1>
        <table border="1" align="center">
            <tr>
                <td>Номер</td>
                <td>Количество</td>
            </tr>
            <template v-for="bottle in bottles">
                <tr>
                    <td>{{ bottle.nomber }}</td>
                    <td>{{ bottle.volume }} / {{ bottle.filled }} ( {{ bottle.type }})</td>
                </tr>
            </template>
        </table>
        <br>
        <button @click="addBottle()">Добавить банку</button>
    </div>
    <div id="jams" class="inl">
            <h1>Варенье</h1>
            <template v-for="(jam,index) in jams">
                <input type="radio" name="selectJam" :id="'jam'+index" v-bind:value="index" v-model="selectedJamId">
                <label :for="'jam'+index">{{ jam.name }} ( {{ jam.sum }} гр)</label>
                <br>
            </template>
            <br>
            <button @click="addCountJam">Добавить варенье</button>
    </div>
    <div id="logs" class="inl">
        <div v-for="(log,index) in logs" class="log">
            <div>{{ ++index }}</div>
            <p>{{ log }}</p>
        </div>
    </div>
</div>

<script>
    let eventBus = new Vue();
    new Vue({
        el: '#bottles',
        data: {
            bottles: [],
            letter:"M",
            nomber:0,
            logs:[]
        },
        methods:{
            addBottle() {
                let volume = (prompt("Введите размер банки в граммах",1000)).replace(/\D+/g,"");
                if (volume) {
                    this.bottles.push({
                        "nomber":this.letter + ++this.nomber,
                        "volume":volume,
                        "type":'',
                        "filled":0,
                        "full":false
                    });
                    eventBus.$emit("getBottles",this.bottles);
                } else {
                    console.log("Empty");
                }

            }
        },
        created(){
            eventBus.$on("setBottels",(bottles)=>{
                this.bottles = bottles;
            })
        }
    });

    new Vue({
        el: '#jams',
        data: {
            selectedJamId:0,
            jams: [
                {
                    name:"Клубничное",
                    sum:0
                },
                {
                    name:"Вишневое",
                    sum:0
                },
                {
                    name:"Абрикосовое",
                    sum:0
                },
            ],
            bottles: [],
            logs: []
        },
        methods:{
            addCountJam() {
                let count = (prompt("Введите размер сваренного варенья в граммах",100)).replace(/\D+/g,"");
                if (count) this.jams[this.selectedJamId].sum += Number.parseInt(count);
                this.divisionJam();
            },
            divisionJam() {
                for (let i = 0; i < this.jams.length; i++) {
                    if (this.jams[i].sum != 0 ) {
                        for (let y = 0; y < this.bottles.length; y++) {
                            if (this.bottles[y].full == false) { // проверяем заполнена ли банка
                                if (this.bottles[y].type == '' || this.bottles[y].type == this.jams[i].name) { // проверяем есть ли в банке варенье, если есть сопавпадает ли оно с данным типом
                                    if (this.bottles[y].filled == 0) { // если банка пуста
                                        if (this.jams[i].sum < this.bottles[y].volume) { // если размер банки больше чем кол-ва варенья
                                            this.bottles[y].filled = this.jams[i].sum;
                                            this.bottles[y].type = this.jams[i].name;
                                            this.jams[i].sum = 0;
                                            this.logs.push('В банку с номером '+this.bottles[y].nomber+' залили '+ this.bottles[y].filled + ' грамм варенья типа: '+ this.jams[i].name);
                                            break;
                                        }
                                        if (this.jams[i].sum == this.bottles[y].volume) { // если размеры банки и кол-во варенья совпадают
                                            this.bottles[y].filled = this.jams[i].sum;
                                            this.bottles[y].full = true;
                                            this.bottles[y].type = this.jams[i].name;
                                            this.jams[i].sum = 0;
                                            this.logs.push('В банку с номером '+this.bottles[y].nomber+' залили '+ this.bottles[y].filled + ' грамм варенья(до вверха) типа: '+ this.jams[i].name);
                                            break;
                                        }
                                        if (this.jams[i].sum > this.bottles[y].volume) { // если варенья больше чем размер в банке
                                            this.bottles[y].filled = this.bottles[y].volume;
                                            this.bottles[y].full = true;
                                            this.bottles[y].type = this.jams[i].name;
                                            this.jams[i].sum -= this.bottles[y].volume;
                                            this.logs.push('В банку с номером '+this.bottles[y].nomber+' залили '+ this.bottles[y].filled + ' грамм варенья(до вверха) типа: '+ this.jams[i].name);
                                        }
                                    } else {// если в банке есть варенье данного типа
                                        let emptySpace = this.bottles[y].volume - this.bottles[y].filled; // нашли кол-во свободного места

                                        if (this.jams[i].sum < emptySpace) { // если размер банки больше чем кол-ва варенья
                                            this.bottles[y].filled += this.jams[i].sum;
                                            this.bottles[y].type = this.jams[i].name;
                                            this.logs.push('В банку с номером '+this.bottles[y].nomber+' долили '+ this.jams[i].sum + ' грамм варенья типа: '+ this.jams[i].name);
                                            this.jams[i].sum = 0;
                                            break;
                                        }
                                        if (this.jams[i].sum == emptySpace) { // если размеры банки и кол-во варенья совпадают
                                            this.bottles[y].filled += this.jams[i].sum;
                                            this.bottles[y].full = true;
                                            this.bottles[y].type = this.jams[i].name;
                                            this.jams[i].sum = 0;
                                            this.logs.push('В банку с номером '+this.bottles[y].nomber+' залили '+ emptySpace + ' грамм варенья(до вверха) типа: '+ this.jams[i].name);
                                            break;
                                        }
                                        if (this.jams[i].sum > emptySpace) { // если варенья больше чем размер в банке
                                            this.bottles[y].filled = this.bottles[y].volume;
                                            this.bottles[y].full = true;
                                            this.bottles[y].type = this.jams[i].name;
                                            this.jams[i].sum -= emptySpace;
                                            this.logs.push('В банку с номером '+this.bottles[y].nomber+' залили '+ emptySpace + ' грамм варенья(до вверха) типа: '+ this.jams[i].name);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                eventBus.$emit("setBottels",this.bottles);
                eventBus.$emit("getLogs",this.logs);
                // console.log(this.logs);
                // console.log(this.bottles);
            }
        },
        created(){
            eventBus.$on("getBottles",(bottles)=>{
                this.bottles = bottles;
            })
        }
    });
    new Vue({
        el: '#logs',
        data: {
            logs:[]
        },
        methods:{

        },
        created(){
            eventBus.$on("getLogs",(logs)=>{
                this.logs = logs;
            })
        }
    });
</script>
<style>
    .inl {
        margin: 10px;
        padding: 20px 10px;
        width: calc(33% - 24px);
        display: inline-block;
    }
    td {
        text-align: center;
    }
    .my_boks {
        position: relative;
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    div {
        border: 1px solid black;
    }
    .log {
        margin: 10px;
    }
</style>
</body>
</html>